<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/css/record/record.css}">
<link rel="stylesheet" th:href="@{/css/select/select.css}">
<title>ダッシュボード</title>
</head>
<body>
	<div layout:fragment="content">
		<form role="search" method="post" th:action="@{/training/dashboard}" th:object="${exerciseDataForm}">
			<div class="text-center">
				<div class="row justify-content-center">
					<div class="mt-3 col-auto">日付、部位または種目:</div>
					<div class="mt-3 col-auto"><input class="form-control" type="search" placeholder="Search" aria-label="Search" th:field="*{searchName}"/></div>
					<div class="mt-3 col-auto">
			<button class="btn-record-red" type="submit">検索</button></div>
				</div>
			</div>
			
		</form>
		<div class="row justify-content-center mt-3">
			<div class="col-8">
				<table class="table table-striped">
					<thead>
						<tr>
							<th scope="col">日付</th>
							<th scope="col">部位</th>
							<th scope="col">種目</th>
							<th scope="col">重量(kg)</th>
							<th scope="col">回数</th>
							<th scope="col">操作</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="training:${trainingList}">
							<td th:text="${#dates.format(training.date,'YYYY/MM/dd')}"></td>
							<td th:text="${training.bodyParts.name}"></td>
							<td th:text="${training.exercise.name}"></td>
							<td th:text="${training.weight}"></td>
							<td th:text="${training.reps}"></td>
							<td>
								<a class="btn btn-secondary" th:href="@{'/training/delete/'+${training.id}}" role="delete">削除</a>
								<a class="btn-select-orange" th:href="@{'/training/edit/'+${training.id}}" role="edit">編集</a>
							</td>
						</tr>
						
						
					</tbody>
				</table>
				<div class="row justify-content-center mt-3">
					<div class="col-auto">
						<nav aria-label="Page navigation">
							<ul class="pagination">
								<li th:classappend="${currentPage == 1} ? 'disabled'" class="page-item">
									<a class="page-link" th:href="@{'/training/dashboard'(page=${currentPage - 1},size=${size},searchName=${searchName})}" aria-label="前へ">
										前へ
									</a>
								</li>
								<li th:each="i : ${#numbers.sequence(1, totalPages)}" th:classappend="${currentPage == i} ? 'active'" class="page-item">
									<a class="page-link" th:href="@{'/training/dashboard'(page=${i},size=${size},searchName=${searchName})}" th:text="${i}"></a>
								</li>
								<li th:classappend="${currentPage == totalPages} ? 'disabled'" class="page-item">
									<a class="page-link" th:href="@{'/training/dashboard'(page=${currentPage + 1},size=${size},searchName=${searchName})}" aria-label="次へ">
										次へ
									</a>
								</li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</div>
	</div>

</body>
</html>