<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/css/record/record.css}">
<link rel="stylesheet" th:href="@{/css/select/select.css}">
<title>種目を選択する</title>
<script th:src="@{/js/script.js}"></script>
</head>
<body>
	<div layout:fragment="content">
		<div class="border-bottom">
			<h1 class="h2">種目を選択する</h1>
		</div>
		<form th:action="@{/training/exercise/selectExercise}" method="post" th:object="${selectExerciseForm}">
			<div class="text-center">
				<div class= "mt-3">
					<div><u>日付を入力し、種目を一つ選択してください</u></div>
				</div>
			</div>
			<div class="row justify-content-center mt-3">
				<div class="col-auto">
					<a class="btn btn-secondary" href="#" role="button">種目を削除する</a>
					<a class="btn-select-orange" href="#" role="button">種目を追加する</a>
				</div>
			</div>
			<div class="row justify-content-center mt-3">
				<div class="col-4">
					<label for="date" class="form-label">日付</label>
					<input type="date" class="form-control" id="date" th:field="*{date}" th:errorclass="is-invalid">
					<div class="invalid-feedback" th:errors="*{date}"></div>
				</div>
			</div>
			<div class="row justify-content-center mt-3">
				<div class="col-4">
					<div>
						<label for="bodyPartsSelect" class="form-label">部位</label>
					</div>
					<div>
						<select id="bodyPartsSelect" th:field="*{bodyParts}" class="form-select" th:errorclass="is-invalid" onchange="fetchExercises()">
							<option value = "">選択してください</option>
							<option th:each="item : ${bodyPartsList}" th:text="${item.name}" 
								th:value="${item.id}"></option>
						</select>
						<div class="invalid-feedback" th:errors="*{bodyParts}"></div>
					</div>
				</div>
			</div>
			<div class="row justify-content-center mt-3">
				<div class="col-4">
					<div>
						<label for="exerciseSelect" class="form-label">種目</label>
					</div>
					<div>
						<select id="exerciseSelect" th:field="*{id}" class="form-select" th:errorclass="is-invalid">
							<option value="">選択してください</option>
						</select>
						<div class="invalid-feedback" th:errors="*{id}"></div>
					</div>
				</div>
			</div>
			<div class="row justify-content-center mt-3">
				<div class="col-auto">
					<a class="btn btn-secondary" href="/training/record" role="button">筋トレ記録へ戻る</a>
					<button type="submit" class="btn-record-red">重量や回数を入力する</button>
				</div>
			</div>
		</form>
	</div>
</body>

</html>