<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" th:href="@{/css/btn/btn.css}">
	<title>体重を記録する</title>
</head>

<body>
	<div layout:fragment="content">
		<div class="border-bottom">
			<h1 class="h2">体重を記録する</h1>
		</div>
		<form th:action="@{/training/record/weight}" method="post" th:object="${recordBodyWeightForm}">
			<div class="text-center">
				<div class="mt-3">
					<p>下記の内容を入力してください</p>
				</div>
			</div>
			<div class="row justify-content-center mt-3">
				<div class="col-4">
					<label for="日付" class="form-label">日付</label>
					<input type="date" class="form-control" th:field="*{date}" th:errorclass="is-invalid" />
					<div class="invalid-feedback" th:errors="*{date}"></div>
				</div>
			</div>
			<div class="row justify-content-center mt-3">
				<div class="col-4">
					<label for="体重" class="form-label">体重(kg)</label>
					<input type="text" class="form-control" th:field="*{bodyWeight}" th:errorclass="is-invalid" />
					<div class="invalid-feedback" th:errors="*{bodyWeight}"></div>
				</div>
			</div> 
			<div class="mt-3">
				<div class="d-flex justify-content-center">
					<a class="btn btn-secondary" href="/training/record" role="button">筋トレ記録へ戻る</a>
					<button type="submit" class="btn-record-red ms-2">記録</button>
				</div>
			</div>
		</form>

	</div>

	</form>
</body>

</html>