<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- Mapperとxmlのマッピング -->
<mapper namespace="com.example.repository.WeightMapper">

<!-- 体重を記録 -->
<insert id="insertWeightRecord">
	insert into training.weight_records(
	user_id
	,date
	,weight
	)
	values(
	#{userId}
	,#{date}
	,#{weight}
	)
</insert>
</mapper>