<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- Mapperとxmlのマッピング -->
<mapper namespace="com.example.repository.WeightMapper">

<!-- 日付と体重を取得 -->
<select id="findBodyWeight" resultType="WeightRecord">
SELECT
	id,
	date,
	weight as bodyWeight
FROM
	training.weight_records
<where>
	user_id=#{userId}
<if test="searchName!=null and searchName != ''">
		AND (DATE_FORMAT(weight_records.date, '%Y/%m/%d') LIKE CONCAT('%', #{searchName}, '%') OR 
		weight_records.weight LIKE CONCAT('%', #{searchName}, '%') )
</if>
</where>
ORDER BY
	date DESC,
	id DESC
LIMIT #{size} OFFSET #{offset}
</select>

<!-- 特定の日付と体重を取得 -->
<select id="selectWeightRecordById" resultType="WeightRecord">
SELECT
	user_id,
	id,
	date,
	weight as bodyWeight
FROM
	training.weight_records
WHERE
	id=#{id}
</select>

<!-- ユーザーの体重データのレコード数を検索を含めてカウントする -->
<select id="countBodyWeightData" resultType="int">
SELECT COUNT(*)
FROM
	training.weight_records
<where>
weight_records.user_id = #{userId}
<if test="searchName!=null and searchName != ''">
		AND (DATE_FORMAT(weight_records.date, '%Y/%m/%d') LIKE CONCAT('%', #{searchName}, '%') OR 
		weight_records.weight LIKE CONCAT('%', #{searchName}, '%') )
</if>
</where>
</select>

<!-- 筋トレデータ1件削除 -->
<delete id="deleteOneBodyWeightData">
DELETE from
	training.weight_records
WHERE
	id=#{id}
</delete>

<!-- 体重を記録 -->
<insert id="insertWeightRecord">
	insert into training.weight_records(
	user_id
	,date
	,weight 
	)
	values(
	#{userId}
	,#{date}
	,#{bodyWeight}
	)
</insert>

<!-- 今までの最低体重を取得 -->
<select id="findMinBodyWeight" resultType="Double">
SELECT
	MIN(weight) as bodyWeight
FROM
	training.weight_records
WHERE
	user_id = #{userId}
</select>

<!-- 今までの最大体重を取得 -->
<select id="findMaxBodyWeight" resultType="Double">
SELECT
	MAX(weight) as bodyWeight
FROM
	training.weight_records
WHERE
	user_id = #{userId}
</select>

<!-- 直近7日間の体重を取得 -->
<select id="findBodyWeightForLast7Days" resultType="WeightRecord">
SELECT
	date,
	weight as bodyWeight
FROM
	training.weight_records
WHERE
	user_id = #{userId}
ORDER BY
	date ASC
LIMIT #{size} OFFSET #{offset}
</select>

<!-- 体重が記録された日付の総数をカウントする -->
<select id="countBodyWeightRecords" resultType="int">
SELECT COUNT(date)
FROM
	training.weight_records
WHERE 
	user_id = #{userId}
</select>

<!-- 体重データをIDで更新する -->
<update id="updateOneBodyWeightData">
UPDATE
	training.weight_records
SET
	weight_records.date=#{date}
	,weight_records.weight=#{bodyWeight}
WHERE
	id=#{id}
</update>

<!-- ユーザーが体重を記録した日付け（重複無し）をすべて取得する -->
<select id="findAllDistinctWeightRecordsDate" resultType="WeightRecord">
SELECT DISTINCT date
FROM
	training.weight_records
WHERE
	user_id = #{userId}
</select>
</mapper>