<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" th:href="@{/css/record/record.css}">
	<title>種目を追加する</title>
</head>

<body>
	<div layout:fragment="content">
		<form th:action="@{/training/exercise/addExercise}" method="post" th:object="${addExerciseForm}">
			<div class="border-bottom">
				<h1 class="h2">種目を追加する</h1>
			</div>	
			<div class="text-center">
				<div class="mt-3">
					<div><u>新しい種目を追加してください</u></div>
				</div>
			</div>
			<div class="row justify-content-center mt-3">
				<div class="col-4">
					<div>
						<label for="bodyPartsSelect" class="form-label">部位</label>
					</div>
					<div>
						<select id="bodyPartsSelect" th:field="*{bodyPartId}" class="form-select" th:errorclass="is-invalid">
							<option value = "">選択してください</option>
							<option th:each="item : ${bodyPartsList}" th:text="${item.name}" 
								th:value="${item.id}"></option>
						</select>
						<div class="invalid-feedback" th:errors="*{bodyPartId}"></div>
					</div>
				</div>
			</div>
			<div class="row justify-content-center mt-3">
				<div class="col-4">
					<div>
						<label for="exerciseSelect" class="form-label">種目</label>
					</div>
					<div>
						<input type="text" class="form-control" th:field="*{exerciseName}" placeholder="入力してください" th:errorclass="is-invalid">
						<div class="invalid-feedback" th:errors="*{exerciseName}"></div>
					</div>
				</div>
			</div>
			<div class ="row justify-content-center mt-3">
				<div class="col-4">
					<div>
						<label for="weightBased" class="form-label">重量の有無</label>
					</div>
					<div>
						<select th:field="*{weightBased}" class="form-select" th:errorclass="is-invalid">
							<option value="">選択してください</option>
							<option value="1">あり</option>
							<option value="0">なし</option>
						</select>
						<div class="invalid-feedback" th:errors="*{weightBased}"></div>
					</div>
				</div>
			</div>
			<div class="row justify-content-center mt-3">
				<div class="col-auto">
					<a class="btn btn-secondary" th:href="@{/training/exercise/selectExercise}" role="button">種目選択に戻る</a>
					<button type="submit" class="btn-record-red">種目を追加する</button>
				</div>
			</div>
		</form>
	</div>
</body>

</html>