<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/css/record/record.css}">
<title>回数を編集する</title>
</head>
<body>
	<div layout:fragment="content">
		<form th:action="@{/training/exercise/editReps}" th:object="${noWeightExerciseDataForm}" method="post">
			<div class="row justify-content-center mt-3">
				<div class="col-4">
						<input class="form-control text-center" type="text" placeholder="回数を編集してください" aria-label="Disabled input" disabled>
				</div>
			</div>
			<div class="row justify-content-center mt-3">
				<div class="col-4">
					<label for="回数" class="form-label">回数</label>
					<input type="text" class="form-control" th:field="*{reps}" th:errorclass="is-invalid"/>
					<div class="invalid-feedback" th:errors="*{reps}"></div>
				</div>
			</div>
			<div class="row justify-content-center mt-3">
				<div class="col-auto">
					<a class="btn btn-secondary" th:href="@{/training/edit/{id}(id=${noWeightExerciseDataForm.id})}" role="button">キャンセル</a>
					<button type="submit" class="btn-record-red">編集を完了する</button>
				</div>
			</div>
		</form>
	</div>

</body>
</html>