.btn-secondary,
.btn-select-orange, 
.btn-record-red,
.form-control{
	display: block;
	padding: 0;
	border: 0;
	border-radius: 0;
	font-size: 1em;
	line-height: 1.2;
	padding: 0.5em var(--padding-x);
	border-width: 0.5px;
	border-style: solid;
	border-color: black;
}

/* button */
.btn-record-red {
	justify-content: center;
	align-items: center;
	--padding-x: 1.2em;
	background-color: red;
	color: white;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	border-radius: 5px;
	transition: background-color 0.3s;
}

/* input */
.form-control {
	--padding-x: 0.5em;
}

.btn-select-orange{
	justify-content: center;
	align-items: center;
	--padding-x: 1.2em;
	background-color: orange;
	color: white;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	border-radius: 5px;
	transition: background-color 0.3s;
}

.btn-secondary{
	justify-content: center;
	align-items: center;
	--padding-x: 1.2em;
	background-color: gray;
	color: white;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	border-radius: 5px;
	transition: background-color 0.3s;
}

.form-select{
	border-color: black;
}