<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" th:href="@{/css/btn/btn.css}">
	<title>体重グラフ</title>
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>
	<div layout:fragment="content">
		<div class="border-bottom">
			<h1 class="h2">体重グラフ</h1>
		</div>
		<div class="row justify-content-center mt-3">
			<div class="col-4">
				<div>
					<label for="minBodyWeight" class="form-label">今までの最低体重</label>
					<input type="text" class="form-control" th:value="${minBodyWeight}" readonly>
				</div>
			</div>
		</div>
		<div class="row justify-content-center mt-3">
			<div class="col-4">
				<div>
					<label for="maxBodyWeight" class="form-label">今までの最大体重</label>
					<input type="text" class="form-control" th:value="${maxBodyWeight}" readonly>
				</div>
			</div>
		</div>
		<div class="row justify-content-center mt-3">
			<div class="col-8">
				<canvas id="weightGraph"></canvas>
			</div>
		</div>

		<script th:inline="javascript">
			const ctx = document.getElementById('weightGraph').getContext('2d');
			const labels = /*[[${dates}]]*/ [];
			const data = /*[[${weights}]]*/ [];
			const chart = new Chart(ctx, {
				type: 'bar',
				data: {
					labels: labels,
					datasets: [{
						label: '体重',
						data: data,
						backgroundColor: 'rgba(255, 255, 0, 1)',
						borderColor: 'rgba(255, 255, 0, 1)',
						borderWidth: 1,
						barThickness:50,
					}]
				},
				options: {
					scales: {
						y: {
							beginAtZero: true,
							title:{
								display:true,
								text:'体重(kg)'
							}
						},
						x:{
							beginAtZero:true,
							title:{
								display:true,
								text:'日付'
							}
						}
					}
				}
			});
		</script>

		<!-- ページング機能 -->
		<div class="row justify-content-center mt-3">
		    <div class="col-auto">
		        <nav aria-label="Page navigation">
		            <ul class="pagination">
		                <li th:classappend="${currentPage == 1} ? 'disabled'" class="page-item">
		                    <a class="page-link" th:href="@{'/training/weight/graph/showWeightGraph'(page=${currentPage - 1}, size=${size})}" aria-label="前の期間">
		                        前の期間
		                    </a>
		                </li>
		                <li th:each="i : ${#numbers.sequence(1, totalPages)}" th:classappend="${currentPage == i} ? 'active'" class="page-item">
		                    <a class="page-link" th:href="@{'/training/weight/graph/showWeightGraph'(page=${i}, size=${size})}" th:text="${i}"></a>
		                </li>
		                <li th:classappend="${currentPage == totalPages} ? 'disabled'" class="page-item">
		                    <a class="page-link" th:href="@{'/training/weight/graph/showWeightGraph'(page=${currentPage + 1}, size=${size})}" aria-label="次の期間">
		                        次の期間
		                    </a>
		                </li>
		            </ul>
		        </nav>
		    </div>
		</div>
		<div class="row justify-content-center mt-3 mb-3">
			<div class="col-auto">
				<a class="btn btn-secondary" th:href="@{/training/selectGraph}" role="button">筋トレグラフへ戻る</a>
			</div>
		</div>
	</div>

</body>
</html>